In [13]:
import pandas as pd
from shutil import copyfile
import os

In [2]:
df = pd.read_csv('img_labels.csv')
df

,filename,cooktop,burner,brand,model,induction,damage
0,220d5423-5fee-4710-8fe2-acc4b01b9aed.jpg,1,3,1,0,1,0
1,48cbe9f7-d6ad-423d-9a69-af0c5094b7c0.jpg,1,3,1,0,0,0
2,1549bf4d-28e2-479d-87ac-564124d0cdfd.jpg,1,2,1,0,0,0
3,a543fe88-5686-4841-9eed-0ed428902d9f.jpg,1,3,1,0,0,0
4,5ba64b08-5223-4761-b02f-8bf34c6ce222.jpg,1,3,1,0,0,0
...,...,...,...,...,...,...,...
2099,55936313-2d06-4ef8-90df-aa725d963de8.jpg,1,4,1,1,0,1
2100,4937e5b6-9ead-44fe-b0cb-dad6da2954f4.jpg,1,3,1,0,0,3
2101,33e6c944-78cc-4ce7-b105-f854a4689d54.jpg,1,4,1,0,0,1
2102,9af23b92-69b2-4ce0-a700-b68d05bb61a1.jpg,1,4,0,0,0,2
2103,bdb1c129-1d31-43d2-90d3-7480c93fac35.jpg,1,3,1,0,0,3

In [20]:
df['induction'].value_counts()

induction
0    1664
1     222
3     112
2      82
4      19
5       4
6       1
Name: count, dtype: int64

In [24]:
flist = list(df[df['model']!=0]['filename'])

In [25]:
len(flist)

205

In [27]:
# src = 'C:\\Users\\aravi\\Documents\\Projects\\COVR\\object_detection_dataset'
# dst = 'C:\\Users\\aravi\\Documents\\Projects\\COVR\\model_imgs'

# for fname in flist:
#     copyfile(os.path.join(src,fname), os.path.join(dst,fname))